<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.hse.pi273.emy.paul.app">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.thermostat.ThermostatActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.hse.pi273.emy.paul.app.view.week.WeekViewActivity"
            android:label="@string/title_activity_week_view" />
        <activity
            android:name="ru.hse.pi273.emy.paul.app.view.task.CreateTaskActivity"
            android:label="@string/title_activity_create_task" />
    </application>

</manifest>
